/*Code couleur : 
Bleu : #0DDBD8
Rose : #E80969
Gris : #f1f1f1 --> #55555 plus foncé et plus lisible
Vert de bouton #4caf50
*/

/* Mise en forme générale */
*{
  font-family : arial;
  box-sizing: border-box;
}

/* Mise en forme contenu de base (sans formulaire) */
#contenu {
  width: 75%;
  margin: auto;
}

/* Image de fond */
body {
  background: url('monde.jpg') no-repeat center fixed;
}

/* Mise en forme de la barre de menu */
nav {
    width: 100%;
    height:10% ;
    background-color: #0ddbd8 ;
    display: flex ;
    color: white;
}

#logo_BankUP {
  height: 70px;
  width: 140px;
  margin-top: 2px;
}

#item_Menu {
  width: 400px;
  vertical-align: middle;
}

.bouton_Connexion {
  float: right;
  font-size: 100%;
  color: white;
  font-weight: bold;
  background-color: #E80969;
  box-shadow: 0 2px 0 0 #C40859;
  margin-right: 5px;
  margin-bottom: 8px;
  margin-top: 15px;
}

.bouton_Inscription {
  float: right;
  font-size: 100%;
  color: white;
  font-weight: bold;
  background-color: #555;
  box-shadow: 0 2px 0 0 #555;
  margin-right: 14px;
  margin-bottom: 8px;
  margin-top: 15px;
  margin-left: 5px;
}


/* Bouton haut de page */
#bouton_Haut {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #E80969;
  padding: 15px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

#bouton_Haut:hover {
  background-color: #555;
}


/* Mise en forme des formulaires */
form {
    width: 75%;
    margin: auto;
    background-color: white;
}

label {
  font-weight: bold;
}

input[type=text], input[type=password], input[type=date], input[type=email], #pays, #civilite, #type_Compte {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: left;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus, #pays:focus, #civilite:focus, #type_Compte:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.bouton_Form::after {
  content: "";
  clear: both;
  display: table;
}


/* Mise en forme des boutons */
button {
  color: white;
  padding: 7%;
  cursor: pointer;
  border: none;
  opacity: 1;
  border-radius: 24px;
  width: 200px;
}

button:hover {
  opacity:0.9;
}

.bouton_Valider {
  float: right;
  padding: 14px 20px;
  background-color: #4CAF50;
  margin-right: 14px;
  margin-bottom: 8px;
  margin-top: 30px;
  margin-left: 5px;
}

.bouton_Annuler { 
  float: right;
  padding: 14px 20px;
  background-color: #555;
  margin-right: 14px;
  margin-bottom: 8px;
  margin-top: 30px;
}

.container {
  padding: 16px;
}


/* Menu EC */
.lienEC {
  background-color: #555;
  border-radius: 0;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.item_EC {
  display: none;
  padding: 50px 20px;
  height: 100%;
  background-color: white;
}


