/*Code couleur : 
Bleu : #0DDBD8
Rose : #E80969
Gris : #f1f1f1
Vert de bouton #4caf50
*/


*{
  font-family : arial; }

/* Mise en forme de la barre de menu */
nav {
    width: 100%;
    height:10% ;
    background-color: #0ddbd8 ;
    display: flex ;
    color: white;
}

#logo_BankUP {
  height: 70px;
  width: 140px;
  margin-top: 2px;
}

#item_Menu {
  font-size: 100%;
  color: white;
  width: 400px;
  font-weight: bold;
  vertical-align: middle;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e20a79;
}


/* Bouton haut de page */

#bouton_Haut {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #E80969; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 50px;
}

#fleche_Haut {
  width: 1%;
  height: 1%;
}

#bouton_Haut:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Mise en forme des formulaires */
form {
    width: 75%;
    margin: auto;
    background-color: white;
}


* {
    box-sizing: border-box
}

body {
  background: url('monde.jpg') no-repeat center fixed;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date], input[type=email], #pays, #civilite, #type_Compte {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: left;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus, #pays:focus, #civilite:focus, #type_Compte:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  color: white;
  padding: 7%;
  cursor: pointer;
  border: none;
  opacity: 0.9;
  border-radius: 24px;
  width: 200px;
}


button:hover {
  opacity:1;
}

label {
    font-weight: bold;

}

.bouton_Annuler { 
    float: left;
    margin-left: 60%;
    padding: 14px 20px;
    background-color: #f1f1f1;
}

.bouton_Valider {
  float: right;
  width: 20%;
  padding: 14px 20px;
  background-color: #4CAF50;
}

.bouton_Connexion {
  float: right;
  font-size: 100%;
  color: white;
  font-weight: bold;
  background-color: #E80969;
  box-shadow: 0 2px 0 0 #C40859;
  margin-right: 5px;
  margin-bottom: 8px;
  margin-top: 16px;
}
.bouton_Inscription {
  float: right;
  font-size: 100%;
  color: white;
  font-weight: bold;
  background-color: #f1f1f1;
  box-shadow: 0 2px 0 0 #EEEEEE;
  margin-right: 14px;
  margin-bottom: 8px;
  margin-top: 15px;
  margin-left: 5px;
}


/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.bouton_Form::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .bouton_Annuler, .bouton_Valider {
    width: 100%;
  }
}

